.container {
  margin: 0 auto;
  max-width: 770px;
  padding: 0 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;

  &:focus-visible {
    outline: 2px solid #4ea8de;
    outline-offset: 2px;
  }
}
