.hidden {
  display: none;
}

.theme {
  &__icons {
    position: relative;
    width: 30px;
    height: 30px;
  }

  &__icons-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

body.dark {
  background-color: #f2f2f2;
  color: #1a1a1a;

  .header {
    background-color: #e9e9e9;
    color: #1a1a1a;
  }

	.snackbar {
    background-color: #bf3f3f;
	}

  .form {
    &__input.error {
      border-color: #bf3f3f;
    }

    &__input {
      color: #1a1a1a;
      background-color: #fff;
      border: 1px solid #d9d9d9;

      &:focus {
        border-color: #4ea8de;
        color: #0d0d0d;
      }

      &::placeholder {
        color: #333333;
      }
    }
  }

  .task {
    &__text {
      color: #1a1a1a;
    }
    &__list-item {
      background-color: #fff;
      border: 1px solid #d9d9d9;
      color: #1a1a1a;
    }
    &__btns {
      button {
        svg {
          fill: #1a1a1a;
        }
      }
    }

    &.dragging {
      opacity: 0.5;
      transform: scale(1.03);
    }
    &.done {
      opacity: 0.5;
      border: 2px solid green;

      .task__text {
        text-decoration: line-through;
      }
    }

    &.pinned {
      border: 2px solid #bf3f3f;
    }

    &:hover {
      border-color: #808080;
    }

    &__done {
      &.active {
        svg {
          fill: green;
        }
      }
    }

    &__pinned {
      &.active {
        svg {
          fill: #bf3f3f;
        }
      }
    }
  }
}
